<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angualarjs Tutorial</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
    <script type="application/javascript" src="js/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.js"></script>
    <script type="application/javascript" src="js/base.js" ></script>

</head>
<body ng-app="tutorialApp">
    <div class="container-fluid" ng-controller="MyPageCtrl">

        <section class="col-md-6">

            <div ng-show="vm.message">

                {{vm.message}}

            </div>


            <div class="form-group">
                <input type="button" value="suchen" ng-click="dm.LoadCars()" class="btn">
            </div>
            <div class="panel">

            <div class="panel-body">

            <div class="form-group">
                Filter Marke<input type="text" ng-model="filterClientCars" class="form-control">
            </div>

            <div class="form-group">
                Filter Typ<input type="text" ng-model="filterClientTyp" class="form-control">
            </div>
            </div>

            </div>
            <article class="col-xs-12 col-lg-6">

                <div ng-repeat="f in dm.cars | filter : {Marke : filterClientCars, Typ : filterClientTyp}">

                    <div class="row-fluid">

                        <div class="col-lg-4">{{f.Marke}}</div>
                        <div class="col-lg-4">{{f.Typ}}</div>
                        <div class="col-lg-4">{{f.Preis}} €</div>

                    </div>

                </div>

            </article>
        </section>

    </div>
</body>
</html>